p, h1, h2, h3, h4, h5, b, body{
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	

}
body{
	overflow-x: hidden;
}
/* Header css */
ul.nav.nav-pills {
    margin-top: 12px;
	display: flex;
}
.nav-link:focus, .nav-link:hover {
    color: #0072d6;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #333333;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0072d6;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: inherit;
    background-color: inherit;
    font-weight: 600;
}
.mobile-icon {
    position: absolute;
    right: 40px;
    font-size: 24px;
    top: 30px;
	display: none;
}
.nav-item-button a {
    color: #fff;
    background-color: #0072d6!important;
    border-radius: 5px!important;
    font-size: 16px;
    padding: 8px 15px;
}
.pit-logo {
    max-width: 310px;
}
.pit-home-hero {
    background-color: #0072d6;
    color: #fff;
    position: relative;
    margin-top: -25px!important;
	max-height: 234px;
}
.pit-home-hero h1, .pit-home-hero p {
	    color: #fff!important;
}
.pit-hero-right-image:before {
    content: url(../images/pit-hero-right-image.png);
    position: absolute;
    right: -1px;
    top: 0px;
}
.pit-home-hero {
    padding-top: 2.1rem!important;
    padding-bottom: 2.1rem!important;
}
.pit-home-hero p {
    margin: 18px;
}
.pit-home-hero h1 {
    font-size: 42px;
}
.btn-style-1 {
    background-color: #EA5143;
    border-radius: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 17px;
    height: 40px;
	color: #fff;
}
.pit-home-starttext h2 {
    font-weight: 400;
    margin-top: 3rem;
    margin-bottom: 20px;
}
.pit-home-starttext p {
    line-height: 25px;
}
.mobile-icon {
display: none;
}
.pit-error-image{
    max-width: 500px;
}
.btn-style-2 {
    background-color: #36a967;
    border-radius: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 17px;
    height: 40px;
    color: #fff;
}
.pit-home-first-image {
    max-width: 500px;
    width: 100%;
}
.pit-home-helpen {
    background-color: #ECF3FA;
}
.pit-home-helpen h2.display-5 {
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: 400;
}
.pit-home-helpen p {
    max-width: 784px;
    margin: auto;
    font-size: 18px;
    margin-bottom: 40px;
}

.pit-home-company-tool {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
}
.pit-home-company-tool h3 {
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 20px;
}
.pit-company-box {
    border: 1px solid #C2DAF3;
    width: 180px;
    height: 180px;
	border-radius: 10px;
}
img.pit-people-image {
    display: block;
    margin: 15px auto;
}
.pit-company-box {
    border: 1px solid #C2DAF3;
    width: 180px;
    height: 100%;
    padding: 10px 10px;
    border-radius: 10px;
}
.pit-company-box:hover {
    border: 2px solid #C2DAF3;
	cursor: pointer;
    background-color: #d2ffd2;
}
a#btnLogoutHeader {
    display: block;
    text-align: center;
    margin-left: 10px;
}
.pit-filter-searchbox input[type="text"] {
    max-width: 100%;
    margin: 15px 0px;
}
#pit-tickets-table th {
    font-size: 14px;
}
/* Footer css */
.pit-footer-links{
	float: right;
}
footer {
    background-color: #F2F2F2;
    padding: 20px;
    margin-top: 40px;
}
footer p {
    margin-bottom: 0px!important;
}

/* Default Page template css */

.pit-page-title h1.float-start {
    color: #fff!important;
    display: contents;
    font-weight: 300;
    font-size: 36px;
}
.pit-page-title {
    background-color: #0072d6;
    padding: 30px!important;
    margin-top: -25px!important;
    margin-bottom: 20px!important;
}

/* Forms CSS */

label.form-label {
    font-weight: 500;
}
span.pit-noemail-input {
    color: red;
    margin-bottom: 11px!important;
    display: none;
}

/*Admin panel css*/
header.user-header {
    position: relative;
    margin-top: 10px;
}
.user-header .pit-loggedin-header {
    display: flex;
    position: absolute;
    right: 15px;
    top: 0px;
    font-size: 15px;
}

/*Ticket form css*/
span.question-title, .pit-ticket-form-title {
    display: block;
    font-weight: 600;
    margin: 20px 0px;
    font-size: 20px;
}
.pit-ticket-form-question-1 button {
    width: 32%;
}
.pit-ticket-form label.form-label {
    font-weight: 600;
}
#service-form,#incident-form,#priority-form{
    display: none;
}
/*Dashboard CSS*/
.pit-side-menu {
    border: 2px solid #eeeeee;
    border-radius: 5px;
    margin-bottom: 20px;
}
.pit-loggedin-user span.showusername{
    margin-right: 10px;
}
span.pit-header-title {
    background-color: #0072d6;
    color: #fff;
    padding: 10px 15px;
    margin-bottom: -5px;
    font-size: 20px;
    width: 100%!important;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.pit-title-box-container {
    padding: 10px;
}
table#notificationTable td {
    padding: 5px;
    font-size: 15px;
}
.table-secondary{
    background-color: #f6f6f6;
}
.pit-title-box {
    border: 2px solid #eeeeee;
    border-radius: 5px;
    margin-bottom: 20px;
}
.pit-title-box-container {
    padding: 15px;
}
.pit-side-menu span.side-header-title {
    background-color: #0072d6;
    color: #fff;
    padding: 10px 15px;
    margin-bottom: -5px;
    font-size: 20px;
    width: 100%!important;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.pit-side-menu-container{
    padding: 15px;
}
.pit-side-menu-item a.btn {
    width: 100%;
    margin: 8px 0px;

}
/* Media querys for all devices */

@media only screen and (max-width: 1999px) {
.pit-header a.me-md-auto{
	    margin: 0px!important;
}
.btn-style-1,.btn-style-2{
	padding-right: 1rem!important;
    padding-left: 1rem!important;
	font-size: 15px;
	
}
}
@media only screen and (max-width: 1020px) {
.pit-hero-right-image{
	display:none;
}
.pit-home-hero {
    max-height: inherit;
}

}
@media only screen and (max-width: 768px) {
.mobile-icon {
display: block;
}

ul.nav.nav-pills, .mobile-nav{
display:none;
}	
.mobile-nav {
    width: 100%!important;
    padding: 5px;
}
.mobile-nav li.nav-item{
    width: 100%;
    border-bottom: 1px solid #dddddd;
}

.pit-home-company-tool div.d-grid.gap-2.d-sm-flex{
    display: flex!important;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pit-company-box {
    width: 47%!important;
}

footer .float-end a, footer p {
    width: 100%;
    text-align: center;
}
p.float-end {
    width: 100%!important;
    display: flex;
	margin-bottom: 20px!important;
    flex-wrap: wrap;
}
}

/*Author widget css*/
.widget-author {
    margin-bottom: 58px;
}
.author-card {
    position: relative;
    padding-bottom: 48px;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
}
.author-card .author-card-cover {
    position: relative;
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.author-card .author-card-cover::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.5;
}
.author-card .author-card-cover > .btn {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 0 10px;
}
.author-card .author-card-profile {
    display: table;
    position: relative;
    margin-top: -22px;
    padding-right: 15px;
    padding-bottom: 16px;
    padding-left: 20px;
    z-index: 5;
}
.author-card .author-card-profile .author-card-avatar, .author-card .author-card-profile .author-card-details {
    display: table-cell;
    vertical-align: middle;
}
.author-card .author-card-profile .author-card-avatar {
    width: 85px;
    border-radius: 50%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
    overflow: hidden;
}
.author-card .author-card-profile .author-card-avatar > img {
    display: block;
    width: 100%;
}
.author-card .author-card-profile .author-card-details {
    padding-top: 20px;
    padding-left: 15px;
}
.author-card .author-card-profile .author-card-name {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
}
.author-card .author-card-profile .author-card-position {
    display: block;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 600;
}
.author-card .author-card-info {
    margin-bottom: 0;
    padding: 0 25px;
    font-size: 13px;
}
.author-card .author-card-social-bar-wrap {
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
}
.author-card .author-card-social-bar-wrap .author-card-social-bar {
    display: table;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
}
.btn-style-1.btn-white {
    background-color: #fff;
}
.list-group-item i {
    display: inline-block;
    margin-top: -1px;
    margin-right: 8px;
    font-size: 1.2em;
    vertical-align: middle;
}
.mr-1, .mx-1 {
    margin-right: .25rem !important;
}

.list-group-item.active:not(.disabled) {
    border-color: #e7e7e7;
    background: #fff;
    color: #ac32e4;
    cursor: default;
    pointer-events: none;
}
.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 0;
}

.list-group-flush .list-group-item {
    border-right: 0 !important;
    border-left: 0 !important;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
a.list-group-item, .list-group-item-action {
    color: #404040;
    font-weight: 600;
}
.list-group-item {
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #e7e7e7 !important;
    border-radius: 0 !important;
    color: #404040;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-decoration: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
}
span.badge {
    background-color: #0072d6;
    font-weight: 400;
}
.pit-info-table th {
    font-size: 14px;
}
.pit-info-table {
    max-width: 99.5%;
    margin: auto;
}
.card {
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px;
    padding: 30px!important;
}


.dots{

    height: 4px;
    width: 4px;
    margin-bottom: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.badge{

    padding: 7px;
    padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef;
}

.user-img{

    margin-top: 4px;
}

.check-icon{

    font-size: 17px;
    color: #c3bfbf;
    top: 1px;
    position: relative;
    margin-left: 3px;
}

.form-check-input{
    margin-top: 6px;
    margin-left: -24px !important;
    cursor: pointer;
}


.form-check-input:focus{
    box-shadow: none;
}


.icons i{

    margin-left: 8px;
}

.pit-comment-col h4{
    font-size: 20px;
}
.pit-comment-col .user.d-flex.flex-row.align-items-center {
    max-width: 80%;
}
.twofactor-disabled-class {
    display: block!important;
}
.reply small{

    color: #b7b4b4;

}


.reply small:hover{

    color: green;
    cursor: pointer;

}