<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact opnemen - Precise IT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Precise IT Website"/>
    <meta name="author" content="Bart Reijnders, Arjen Froma"/>

    <div th:replace="fragments/general.html :: headerfiles"></div>


</head>
<body>
<div th:replace="fragments/general.html :: header-menu"></div>
<div class="px-4 py-5 my-5 pit-page-title">
    <div class="container">
        <h1 class="float-start">Contact opnemen</h1>
    </div>
</div>
<div class="container">
    <div class="row pit-home-starttext">
        <div class="col-md-6">
            <p>Neem vrijblijvend contact op met Precise IT. Wij streven ernaar om binnen 1 werkdag te antwoorden.</p>


            <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                <div class="mb-3">
                    <label class="form-label" for="bedrijf">Bedrijf</label>
                    <input class="form-control" id="bedrijf" type="text" placeholder="Bedrijf" data-sb-validations="" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="uwNaam">Uw naam</label>
                    <input class="form-control" id="uwNaam" type="text" placeholder="Uw naam" data-sb-validations="required" />
                    <div class="invalid-feedback" data-sb-feedback="uwNaam:required">Uw naam is required.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="eMailadres">E-mailadres</label>
                    <input class="form-control" id="eMailadres" type="email" placeholder="E-mailadres" data-sb-validations="required,email" />
                    <div class="invalid-feedback" data-sb-feedback="eMailadres:required">E-mailadres is required.</div>
                    <div class="invalid-feedback" data-sb-feedback="eMailadres:email">E-mailadres Email is not valid.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="telefoonnummer">Telefoonnummer</label>
                    <input class="form-control" id="telefoonnummer" type="text" placeholder="Telefoonnummer" data-sb-validations="required" />
                    <div class="invalid-feedback" data-sb-feedback="telefoonnummer:required">Telefoonnummer is required.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="vraagOpmerking">Vraag / Opmerking</label>
                    <textarea class="form-control" id="vraagOpmerking" type="text" placeholder="Vraag / Opmerking" style="height: 10rem;" data-sb-validations="required"></textarea>
                    <div class="invalid-feedback" data-sb-feedback="vraagOpmerking:required">Vraag / Opmerking is required.</div>
                </div>
                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center mb-3">
                        <div class="fw-bolder">Form submission successful!</div>
                    </div>
                </div>
                <div class="d-none" id="submitErrorMessage">
                    <div class="text-center text-danger mb-3">Error sending message!</div>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Versturen</button>
                </div>
            </form>

            <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        </div>
        <div class="col-md-6">
            <img src="images/contact-image.png">

        </div>
    </div>
</div>
<div th:replace="fragments/general.html :: footer"></div>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

</body>
</html>