<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Precise IT Homepagina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Precise IT Website"/>
    <meta name="author" content="Bart Reijnders, Arjen Froma"/>

    <div th:replace="fragments/general.html :: headerfiles"></div>


</head>
<body>
<div th:replace="fragments/general.html :: header-menu"></div>
<div class="px-4 py-5 my-5 text-center pit-home-hero">
    <div class="pit-hero-right-image"></div>
    <h1 class="display-5 fw-bold" th:text="'Welkom bij ' + ${companyname}"></h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4" th:text="${companyslogan}"></p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-style-1 btn-lg px-4 gap-3">Bekijk onze ICT oplossingen</button>
            <button type="button" class="btn btn-style-2 btn-lg px-4">Lees onze succesverhalen</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row pit-home-starttext">
        <div class="col-md-6">
            <h2>Wij zijn <b>Precise IT</b>.</h2>
            <p>Jij wilt niet alleen dat de ICT in je organisatie efficiënt, veilig én op een beheersbare manier geregeld is, maar je bent op zoek naar een partner die verder kijkt dan vandaag en jouw vraag. Iemand die je kan adviseren, samen met jou kosten weet te besparen en als expert met je meedenkt.</p>

            <p>Wij helpen je zichtbaar te maken wat ICT voor jou bedrijf kan betekenen. Processen vereenvoudigen, risico’s analyseren, stabiliteit garanderen en kosten besparen door net iets slimmer te zijn of onnodige uitval te voorkomen.</p>
        </div>
        <div class="col-md-6">
            <img class="pit-home-first-image" src="../images/homepage-content-image.png">

        </div>
    </div>
</div>

<div class="px-4 py-5 my-5 text-center pit-home-helpen">
    <h2 class="display-5">Hoe kunnen we u helpen?</h2>
        <div class="col-lg-6 mx-auto">
            <p>Onze medewerkers helpen jou graag met ICT-beveiliging. Geef aan ons door hoeveel werkplekken jij nodig hebt en het niveau van beveiliging die jij wilt hebben. Hierna krijg je direct een prijsopgave per gebruiker te zien.</p>
            <div class="pit-home-company-tool">
                <h3>Uit hoeveel medewerkers bestaat uw organisatie?</h3>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <div class="pit-company-box">
                        <img class="pit-people-image" src="../images/pit-people-icon.png">
                        <span class="pit-company-box-title">1-10</span>
                    </div>
                    <div class="pit-company-box">
                        <img class="pit-people-image" src="../images/pit-people-icon.png">
                        <span class="pit-company-box-title">1-10</span>
                    </div>
                    <div class="pit-company-box">
                        <img class="pit-people-image" src="../images/pit-people-icon.png">
                        <span class="pit-company-box-title">1-10</span>
                    </div>
                    <div class="pit-company-box">
                        <img class="pit-people-image" src="../images/pit-people-icon.png">
                        <span class="pit-company-box-title">1-10</span>
                    </div>
                </div>
            </div>
        </div>
</div>
<div th:replace="fragments/general.html :: footer"></div>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

</body>
</html>