<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inloggen Helpdesk Portaal - Precise IT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Precise IT Website"/>
    <meta name="author" content="Bart Reijnders, Arjen Froma"/>

    <div th:replace="fragments/general.html :: headerfiles"></div>


</head>
<body>
<div th:replace="fragments/general.html :: header-menu"></div>
<div class="px-4 py-5 my-5 pit-page-title">
    <div class="container">
        <h1 class="float-start">Inloggen bij Precise IT</h1>
    </div>
</div>
<div class="container">
    <div class="row pit-home-starttext">
        <div class="col-md-6">
            <div th:if="${usermsg}">
                <span class="info" th:text="${usermsg}"></span>
            </div>
            <p>Vul het onderstaande formulier in om in te loggen in het helpdesk systeem van Precise IT.</p>

            <form id="loginForm" name='f' action="login" method='POST'>
                <div class="mb-3">
                    <label class="form-label" for="username">Gebruikersnaam</label>
                    <input class="form-control" name="username" id="username" type="text" placeholder="Username" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Wachtwoord</label>
                    <input class="form-control" name="password" id="password" type="password" placeholder="Wachtwoord" />
                </div>
<!--                <div class="mb-3">-->
<!--                    <label class="form-label" for="2facode">2FA-code van uw authenticator-app</label>-->
<!--                    <input class="form-control" name="2facode" id="2facode" type="text" placeholder="6 cijferige 2FA code" />-->
<!--                </div>-->
                <label for='2facode'>2FA code from your authenticator app</label>
                <input id='2facode' type='text' name='2facode'/>
                <div class="d-grid">
                    <input class="btn btn-primary btn-lg" name="submit" type="submit" value="Inloggen"/>
                </div>
            </form>
            <p>
            <ul>
                <li><a href="/portaal/registreren">Klik hier om te registreren (Voor testdoeleinden)</a></li>
            </ul>
            </p>


        </div>
        <div class="col-md-6">
            <img src="images/contact-image.png">

        </div>
    </div>
</div>
<div th:replace="fragments/general.html :: footer"></div>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

</body>
</html>