<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Two Factor Helpdesk Portaal - Precise IT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Precise IT Website"/>
    <meta name="author" content="Bart Reijnders, Arjen Froma"/>

    <div th:replace="fragments/general.html :: headerfiles"></div>


</head>
<body>
<div th:replace="fragments/general.html :: header-menu"></div>
<div class="px-4 py-5 my-5 pit-page-title">
    <div class="container">
        <h1 class="float-start">Inloggen bij Precise IT</h1>
    </div>
</div>
<div class="container">
    <div class="row pit-home-starttext">
        <div class="col-md-6">
            <p>Vul het onderstaande formulier in om in te loggen in het helpdesk systeem van Precise IT.</p>


                Hello <span class="username" th:text="${user.username}"></span>, thank you for creating your account!

                <!-- TODO: (DONE registration) show a QR code here -->
                <p>
                    Scan this QR code to add this site to your 2FA authentication app. You'll need it to log in.
                </p>
                <p>
                    <img th:src="${twoFaQrUrl}" />
                </p>

                <ul>
                    <li><a href="/login">log in</a></li>
                </ul>


        </div>
        <div class="col-md-6">
            <img src="images/contact-image.png">

        </div>
    </div>
</div>
<div th:replace="fragments/general.html :: footer"></div>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

</body>
</html>