<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registreren Helpdesk Portaal - Precise IT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Precise IT Website"/>
    <meta name="author" content="Bart Reijnders, Arjen Froma"/>

    <div th:replace="fragments/general.html :: headerfiles"></div>


</head>
<body>
<div th:replace="fragments/general.html :: header-menu"></div>
<div class="px-4 py-5 my-5 pit-page-title">
    <div class="container">
        <h1 class="float-start">Inloggen bij Precise IT</h1>
    </div>
</div>
<div class="container">
    <div class="row pit-home-starttext">
        <div class="col-md-6">
            <p>Vul het onderstaande formulier in om in te loggen in het helpdesk systeem van Precise IT.</p>

            <form id="registrationForm" action="/portaal/registreren" th:object="${user}" method="POST" enctype="utf8">
                <div class="mb-3">
                    <label class="form-label" for="username">Gebruikersnaam</label>
                    <input class="form-control" name="username" id="username" type="text" placeholder="Username" data-sb-validations="" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Wachtwoord</label>
                    <input class="form-control" name="password" id="password" type="password" placeholder="Wachtwoord" data-sb-validations="required" />
                </div>
                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center mb-3">
                        <div class="fw-bolder">Form submission successful!</div>
                    </div>
                </div>
                <div class="d-none" id="submitErrorMessage">
                    <div class="text-center text-danger mb-3">Error sending message!</div>
                </div>
                <div class="d-grid">
                    <input class="btn btn-primary btn-lg" type="submit" value="Maak account"/>
                </div>
            </form>

            <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        </div>
        <div class="col-md-6">
            <img src="images/contact-image.png">

        </div>
    </div>
</div>
<div th:replace="fragments/general.html :: footer"></div>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

</body>
</html>