<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Uitgelogd - Precise IT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Precise IT Website"/>
    <meta name="author" content="Bart Reijnders, Arjen Froma"/>

    <div th:replace="fragments/general.html :: headerfiles"></div>


</head>
<body>
<div th:replace="fragments/general.html :: header-menu"></div>
<div class="px-4 py-5 my-5 pit-page-title">
    <div class="container">
        <h1 class="float-start">Succesvol uitgelogd</h1>
    </div>
</div>
<div class="container">
    <div class="row pit-home-starttext">
        <div class="col-md-6">
            <p>U bent succesvol uitgelogd</p>

            <p>
            <ul>
                <li><a href="/portaal-login">Terug naar het Helpdesk Portaal</a></li>
            </ul>
            </p>

        </div>
        <div class="col-md-6">
            <img src="images/contact-image.png">

        </div>
    </div>
</div>
<div th:replace="portal/fragments/general.html :: footer"></div>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

</body>
</html>