<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Precise IT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Precise IT Website"/>
    <meta name="author" content="Bart Reijnders, Arjen Froma"/>

    <div th:replace="portal/fragments/general.html :: headerfiles"></div>


</head>
<body>
<div th:replace="portal/fragments/general.html :: header-menu"></div>
<div class="px-4 py-5 my-5 pit-page-title">
    <div class="container">
        <h1 class="float-start">Selfservice Portaal: Dashboard</h1>
    </div>
</div>
<div class="container">
    <div class="row pit-home-starttext">
            <div class="col-8">
                <div class="pit-title-box">
                    <span class="pit-header-title">Welkom terug, <span th:text="${user.fullName}"></span>!</span>
                    <div class="pit-title-box-container">
                        <div class="pit-ticket-form">
                            <div class="pit-ticket-form-container">
                                <div class="pit-ticket-form-intro">
                                    <p>Hartelijk welkom op de Selfservice Portaal van Precise IT. Via het Self-Service Portaal kunt u eenvoudig contact opnemen met het supportteam van Precise IT.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${not #lists.isEmpty(listTicket)}">
                <div class="pit-ticket-form">
                    <div class="headings d-flex justify-content-between align-items-center mb-3">
                        <h5>Uw meldingen</h5>

                    </div>
                    <div class="pit-ticket-form-container">

                        <div class="pit-ticket-form-intro">
                            <table id="pit-tickets-table"
                                   class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Melding ID</th>
                                    <th>Titel</th>
                                    <th>Gemaakt door</th>
                                    <th>Prioriteit</th>
                                    <th>Status</th>
                                    <th>Acties</th>

                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="ticket : ${listTicket}">
                                    <td th:text="${ticket.id}"></td>
                                    <td th:text="${ticket.title}"></td>

                                    <td th:text="${ticket.questioner.getFullName}"></td>
                                    <td th:text="${ticket.priority.name}"></td>
                                    <td th:text="${ticket.status.name}"></td>
                                    <td class="text-center">
                                        <!-- <a class="nav-link"
                                                                type="button"  th:href="@{/ticket/{${ticket.id}}">Update</a> -->
                                        <a th:href="@{/portal/ticket/{id}(id=${ticket.id})}"><i class="fas fa-eye"></i></a>


                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
                </div>
            <div class="col-4">
                    <!-- Account Sidebar-->
                <div class="pit-side-menu">
                    <div class="author-card pb-3">
                        <div class="author-card-cover" style="background-image: url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg);"><span class="btn pt-2 btn-style-1 btn-sm" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward points to spend"><span th:text="${user.company.name}"></span></span></div>
                        <div class="author-card-profile">
                            <div class="author-card-avatar"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Daniel Adams">
                            </div>
                            <div class="author-card-details">
                                <h5 class="author-card-name text-lg"><span th:text="${user.fullName}"></span></h5><span class="author-card-position" th:text="${user.role}">Joined February 06, 2017</span>
                            </div>
                        </div>
                    </div>
                    <div class="wizard">
                        <nav class="list-group list-group-flush">
                            <a class="list-group-item" href="/portal/ticket/viewTickets">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><i class="fa fa-tag mr-1 text-muted"></i>
                                        <div class="d-inline-block font-weight-medium text-uppercase">Mijn Meldingen</div>
                                    </div><span class="badge badge-secondary"><span th:text="${user.tickets.size()}"></span></span>
                                </div>
                            </a>
                            <a class="list-group-item" href="#">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><i class="fa fa-shopping-bag mr-1 text-muted"></i>
                                        <div class="d-inline-block font-weight-medium text-uppercase">Profiel instellingen</div>
                                    </div><span class="badge badge-secondary">6</span>
                                </div>
                            </a>
                        </nav>
                    </div>
                </div>
                <div class="pit-side-menu">
                    <span class="side-header-title">Meldingen</span>
                    <div class="pit-side-menu-container">
                        <table id="notificationTable">
                            <tr>
                                <td>Gepland server onderhoud 10-11-2022 na 18:00, mogelijk traagheid.</td>
                            </tr>
                            <tr class="table-secondary">
                                <td>Binnenkort Bingoavond met de doorgewinterde bingoleider Bart!</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="pit-side-menu">
                    <span class="side-header-title">Snelle Links</span>
                    <div class="pit-side-menu-container">
                        <div class="pit-side-menu-item"><a class="btn btn-outline-primary" href="/portal/create-ticket">Nieuwe melding maken</a></div>
                        <div class="pit-side-menu-item"><a class="btn btn-outline-primary" href="/portal/ticket/viewTickets">Bekijk openstaande tickets</a></div>
                        <div class="pit-side-menu-item"><a class="btn btn-outline-primary" href="/portal/create-ticketByHelpDesk">Maak ticket aan voor klant</a></div>
                        <div class="pit-side-menu-item"> <a class="btn btn-outline-primary" id="btnLogout">Uitloggen</a></div>
                    </div>
                </div>

            </div>

    </div>
</div>
<div th:replace="portal/fragments/general.html :: footer"></div>
</main>

<div th:replace="portal/fragments/general.html :: footerfiles"></div>
</body>
</html>