<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingelogd - Precise IT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Precise IT Website"/>
    <meta name="author" content="Bart Reijnders, Arjen Froma"/>

    <div th:replace="portal/fragments/general.html :: headerfiles"></div>


</head>
<body>
<div th:replace="portal/fragments/general.html :: header-menu"></div>
<div class="px-4 py-5 my-5 pit-page-title">
    <div class="container">
        <h1 class="float-start">Maak een nieuwe ticket</h1>
    </div>
</div>
<div class="container">
    <div class="row pit-home-starttext">
        <div class="col-md-6">
            <p>Succesvol ingelogd. <div th:text="${username}"></div></p>

            <div class="container px-5 my-5">
                <form id="contactForm">
                    <div class="mb-3">
                        <label class="form-label" for="uwId">Uw ID</label>
                        <input class="form-control" id="uwId" type="text" placeholder="Uw ID" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="uwId:required">Uw ID is required.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="apparaatId">Apparaat ID</label>
                        <input class="form-control" id="apparaatId" type="text" placeholder="Apparaat ID" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="apparaatId:required">Apparaat ID is required.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="probleemBeschrijving">Probleem beschrijving</label>
                        <textarea class="form-control" id="probleemBeschrijving" type="text" placeholder="Probleem beschrijving" style="height: 10rem;" data-sb-validations="required"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="probleemBeschrijving:required">Probleem beschrijving is required.</div>
                    </div>
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            <p>To activate this form, sign up at</p>
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Error sending message!</div>
                    </div>
                    <div class="d-grid">

                        <a class="btn btn-primary btn-lg" id="btnCreateTicket">Maak ticket</a>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-6">
            <img src="../images/contact-image.png">

        </div>
    </div>
</div>
<div th:replace="portal/fragments/general.html :: footer"></div>
</main>

<div th:replace="portal/fragments/general.html :: footerfiles"></div>
</body>
</html>