<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <title> AskMe project </title>
</head>

<body>
<div class="container-fluid">
  <nav class="row navbar navbar-expand-md navbar-dark bg-dark">
    <a class="col-3 navbar-brand" href="/">AskMe</a>
    <div class="col-9 d-flex justify-content-end">


      <form th:method="GET" th:action="@{/login}" class="form-inline">
        <input class="form-control mr-2" type="text" placeholder="Search" aria-label="Search">
        <input class="btn btn-secondary" type="submit" value="Search"/>
      </form>

      <div sec:authorize="!isAuthenticated()">
        <form th:method="GET" th:action="@{/login}">
          <input class="btn btn-primary ml-5" type="submit" value="LogIn"/>
        </form>
      </div>

      <div sec:authorize="!isAuthenticated()">
        <form th:method="GET" th:action="@{/register}">
          <input class="btn btn-primary ml-2" type="submit" value="Register"/>
        </form>
      </div>
      <div align="right" class="col-3 navbar-brand" sec:authorize="isAuthenticated()">
        <div sec:authentication="name"></div>
      </div>
      <form th:method="GET" th:action="@{/logout}" sec:authorize="isAuthenticated()">
        <input class="btn btn-primary ml-5" type="submit" value="Logout"/>
      </form>

  </nav>
</div>


<main role="main" class="container">

  <div class="container mt-4 mx-3">
    <div class="row">
      <div class="col-10">
        <h3 style="margin-bottom: 15px;">Settings: Bob1234</h3>

        <form>

          <div class="form-group row">
            <label class="col-sm-1 col-form-label" for="exampleInputEmail1">Login</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="exampleInputEmail1"
                     aria-describedby="emailHelp" placeholder="Enter new login">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-1 col-form-label" for="exampleInputPassword1">Email</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="exampleInputPassword1"
                     placeholder="Enter new email">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-1 col-form-label" for="exampleInputPassword1">City</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="exampleInputPassword1"
                     placeholder="Enter new city">
            </div>
          </div>
          <div class="media">
            <img src="static/img/cat.jpg" width="65" height="65" class="img-thumbnail mr-3">
            <div class="media-body">
              <form>
                <div class="form-group">
                  <label for="exampleFormControlFile1">Chouse new avatar</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
              </form>
            </div>
          </div>
          <button type="submit" class="btn btn-primary my-3">Save</button>
        </form>

      </div>
      <div class="col-2 d-none d-sm-none d-md-block">
        <div class="row" style="min-height: 50px;"></div>
        <div class="row">
          <h4>Popular tags</h4>
          <h5>
            <p><a href="index.html" class="text-primary">C++ </a>
              <a href="index.html" class="text-secondary">Python </a>
              <a href="index.html" class="text-secondary">Java</a>
              <a href="index.html" class="text-success">JavaScript </a>
              <a href="index.html" class="text-secondary">C# </a></p>
          </h5>


        </div>
        <div class="row">
          <h4>Best user:</h4>
          <h5>
            <div sec:authorize="isAuthenticated()">
              <div class="badge badge-primary" sec:authentication="name"></div>
              </br>
              </br>
              <img src="../static/img/shy.gif" th:src="@{/img/shy.gif}" class=" img-thumbnail">
            </div>

            <div sec:authorize="!isAuthenticated()">
              <h6>Log In to find out 🙂</h6>
            </div>
          </h5>
        </div>
      </div>
    </div>
  </div>

  <!-- tags -->


</main><!-- /.container -->
<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>