<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tickets - Precise IT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Precise IT Website"/>
    <meta name="author" content="Bart Rijnders, Arjen Froma"/>

    <div th:replace="portal/fragments/general.html :: headerfiles"></div>


</head>
<body>
<div th:replace="portal/fragments/general.html :: header-menu"></div>
<div class="px-4 py-5 my-5 pit-page-title">
    <div class="container">
        <h1 class="float-start">Tickets</h1>
    </div>
</div>
<div class="container">
    <div class="row pit-home-starttext">
        <div class="col-8">
            <div class="pit-title-box">
                <span class="pit-header-title">Ticket #<span th:text="${ticket.id}"></span> - <span th:text="${ticket.title}"></span></span>
                <div class="pit-title-box-container">
                    <div class="pit-ticket-form">
                        <div class="pit-ticket-form-container">
                            <div class="pit-ticket-form-intro">
                                <p>
                                    <span th:text="${ticket.ticketContent}"></span>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


                <div class="pit-comment-section row d-flex justify-content-center mb-4">

                    <div class="col-md-12">

                        <div class="headings d-flex justify-content-between align-items-center mb-3">
                            <h5>Ticket Conversatie</h5>

                        </div>


                        <div class="pit-comment-col card mt-2" th:each="i : ${#numbers.sequence(ticket.comments.size() - 1, 0, -1)}"
                             th:with="comment=${ticket.comments[i]}">

                            <div class="d-flex justify-content-between align-items-center" >

                                <div class="user d-flex flex-row align-items-center">

                                    <span><h4>#<span th:text="${[i] + 1}">Body</span> - Reactie van: <span th:text="${comment.user.fullName}">Body</span></h4>
                                        <small class="font-weight-bold"><span th:text="${comment.text}">Body</span> </small>
                                    </span>


                                </div>


                                <small> <span th:text="${#temporals.format(comment.createdAt,'dd-MM-yyyy HH:mm')}"></span></small>

                            </div>


                            <div class="action d-flex justify-content-between mt-2 align-items-center">

                                <div class="reply">
                                    <small>Remove</small>
                                    <span class="dots"></span>
                                    <small>Reply</small>
                                    <span class="dots"></span>
                                    <small>Translate</small>

                                </div>

                                <div class="icons align-items-center">
                                    <i class="fa fa-check-circle-o check-icon text-primary"></i>

                                </div>

                            </div>



                        </div>



                </div>

            </div>
            <div class="pit-title-box">
                <span class="pit-header-title">Plaats een nieuwe reactie</span>
                <div class="pit-title-box-container">
                    <div class="pit-ticket-form">
                        <div class="pit-ticket-form-container">
                            <div class="pit-ticket-form-intro">
                                    <p>
                                        Wat wilt u reageren?
                                    </p>
                                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                                        <div class="form-floating mb-3">
                                            <textarea class="form-control" id="comment" type="text" placeholder="Comment" style="height: 10rem;" data-sb-validations="required"></textarea>
                                            <label for="comment">Reageer...</label>
                                            <div class="invalid-feedback" data-sb-feedback="comment:required">Comment is required.</div>
                                        </div>
                                        <input type="hidden" id="ticketid" th:field="${ticket.id}"/>
                                        <div class="d-none" id="submitSuccessMessage">
                                            <div class="text-center mb-3">
                                                <div class="fw-bolder">Form submission successful!</div>
                                            </div>
                                        </div>
                                        <div class="d-none" id="submitErrorMessage">
                                            <div class="text-center text-danger mb-3">Error sending message!</div>
                                        </div>
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-lg" id="btnPlaceComment" type="submit">Reageer</button>
                                        </div>
                                    </form>
                                <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-4">
            <div class="pit-side-menu">
                <span class="side-header-title">Ticket informatie</span>
                    <table class="table table-striped text-successtable-border border-light pit-info-table">
                        <tbody>
                        <tr>
                            <th scope="row">Aangemaakt door</th>
                            <td th:text="${ticket.questioner.fullName}"></td>

                        </tr>
                        <tr>
                            <th scope="row">Prioritijd</th>
                            <td th:text="${ticket.priority.name}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Status</th>
                            <td th:text="${ticket.status.name}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Ticket ID</th>
                            <td th:text="${ticket.id}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Gemaakt op</th>
                            <td th:text="${#temporals.format(ticket.createdAt,'dd-MM-yyyy HH:mm')}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Laatste activiteit</th>
                            <td th:text="${#temporals.format(ticket.updatedAt,'dd-MM-yyyy HH:mm')}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Aantal reacties:</th>
                            <td th:text="${ticket.comments.size()}"></td>
                        </tr>
                        </tbody>
                    </table>
            </div>
            <div class="pit-side-menu">
                <span class="side-header-title">Snelle Links</span>
                <div class="pit-side-menu-container">
                   test
                </div>
            </div>

        </div>
    </div>
</div>
<div th:replace="portal/fragments/general.html :: footer"></div>
</main>

<div th:replace="portal/fragments/general.html :: footerfiles"></div>
</body>
</html>