<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ingelogd - Precise IT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Precise IT Website"/>
    <meta name="author" content="Bart Reijnders, Arjen Froma"/>

    <div th:replace="portal/fragments/general.html :: headerfiles"></div>


</head>
<body>
<div th:replace="portal/fragments/general.html :: header-menu"></div>
<div class="px-4 py-5 my-5 pit-page-title">
    <div class="container">
        <h1 class="float-start">Selfservice Portaal</h1>
    </div>
</div>
<div class="container">
    <div class="row pit-home-starttext">
            <div class="col-8">
                <div class="pit-title-box">
                    <span class="pit-header-title">Welkom terug!</span>
                    <div class="pit-title-box-container">
                        <div class="pit-ticket-form">
                            <div class="pit-ticket-form-container">
                                <div class="pit-ticket-form-intro">
                                    <p>Uw e-mailadres is: <span th:text="${username}"></span></p>
                                    <p>User info: <span th:text="${password}"></span></p>
                                    <p>Via het onderstaande formulier kunt u op een eenvoudige manier een nieuwe melding maken. Indien het gaat om een Prio 1 spoed melding gebruik dan de "Spoed melding" knop.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pit-title-box">
                    <span class="pit-header-title">Maak een nieuwe melding</span>
                    <div class="pit-title-box-container">
                <div class="pit-ticket-form">
                    <div class="pit-ticket-form-container">
                        <div class="pit-ticket-form-intro">
                            <p>Via het onderstaande formulier kunt u op een eenvoudige manier een nieuwe melding maken. Indien het gaat om een Prio 1 spoed melding gebruik dan de "Spoed melding" knop.</p>
                        </div>
                        <div class="pit-ticket-form-question-1">
                            <span class="question-title">Wat voor ticket wilt u aanmaken?</span>
                            <button type="button" id="ServiceMeldingButton" class="btn btn-primary">Serviceaanvraag</button>
                            <button type="button" id="IncidentMeldingButton" class="btn btn-primary">Incident</button>
                            <button type="button" id="SpoedMeldingButton" class="btn btn-primary">Spoed Melding</button>
                        </div>
                        <div id="service-form" class="pit-ticket-form-serviceticket">
                            <span class="pit-ticket-form-title">Serviceaanvraag melding maken</span>
                            Hier komt het formulier

                        </div>
                        <div id="incident-form" class="pit-ticket-form-incidentticket">
                            <span class="pit-ticket-form-title">Incident melding maken</span>
                            Hier komt het formulier
                        </div>
                        <div id="priority-form" class="pit-ticket-form-priority">
                            <span class="pit-ticket-form-title">Spoed melding maken</span>

                            <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <div class="mb-3">
                                    <label class="form-label" for="vertelOnsInHetKortWatErAanDeHandIsIndienHetOmEenElektronischeApparaatDieBijOnsInBeheerIsGraagOokHetApparaatnummerDoorgeven">Vertel ons in het kort wat er aan de hand is? Indien het om een elektronische apparaat die bij ons in beheer is graag ook het apparaatnummer doorgeven.</label>
                                    <textarea class="form-control" id="vertelOnsInHetKortWatErAanDeHandIsIndienHetOmEenElektronischeApparaatDieBijOnsInBeheerIsGraagOokHetApparaatnummerDoorgeven" type="text" placeholder="Vertel ons in het kort wat er aan de hand is? Indien het om een elektronische apparaat die bij ons in beheer is graag ook het apparaatnummer doorgeven." style="height: 10rem;" data-sb-validations="required"></textarea>
                                    <div class="invalid-feedback" data-sb-feedback="vertelOnsInHetKortWatErAanDeHandIsIndienHetOmEenElektronischeApparaatDieBijOnsInBeheerIsGraagOokHetApparaatnummerDoorgeven:required">Vertel ons in het kort wat er aan de hand is? Indien het om een elektronische apparaat die bij ons in beheer is graag ook het apparaatnummer doorgeven. is required.</div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label d-block">Hoe wilt u dat wij contact met u opnemen?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" id="telefonisch" type="radio" name="hoeWiltUDatWijContactMetUOpnemen" data-sb-validations="" />
                                        <label class="form-check-label" for="telefonisch">Telefonisch</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" id="viaDeMail" type="radio" name="hoeWiltUDatWijContactMetUOpnemen" data-sb-validations="" />
                                        <label class="form-check-label" for="viaDeMail">Via de mail</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" id="viaMijnLeidinggevende" type="radio" name="hoeWiltUDatWijContactMetUOpnemen" data-sb-validations="" />
                                        <label class="form-check-label" for="viaMijnLeidinggevende">Via mijn leidinggevende</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" id="anders" type="radio" name="hoeWiltUDatWijContactMetUOpnemen" data-sb-validations="" />
                                        <label class="form-check-label" for="anders">Anders</label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="andersNamelijk">Anders, namelijk:</label>
                                    <input class="form-control" id="andersNamelijk" type="text" placeholder="Anders:" data-sb-validations="" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="telefoonnummer">Telefoonnummer</label>
                                    <input class="form-control" id="telefoonnummer" type="text" placeholder="Telefoonnummer" data-sb-validations="required" />
                                    <div class="invalid-feedback" data-sb-feedback="telefoonnummer:required">Telefoonnummer is required.</div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="eMailadres">E-mailadres</label>
                                    <input class="form-control" id="eMailadres" type="email" placeholder="E-mailadres" data-sb-validations="required,email" />
                                    <div class="invalid-feedback" data-sb-feedback="eMailadres:required">E-mailadres is required.</div>
                                    <div class="invalid-feedback" data-sb-feedback="eMailadres:email">E-mailadres Email is not valid.</div>
                                </div>
                                <div class="d-none" id="submitErrorMessage">
                                    <div class="text-center text-danger mb-3">Error sending message!</div>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Melding versturen</button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
                    </div>
                    </div>
            </div>
            <div class="col-4">
                    <!-- Account Sidebar-->
                <div class="pit-side-menu">
                    <div class="author-card pb-3">
                        <div class="author-card-cover" style="background-image: url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg);"><a class="btn btn-style-1 btn-white btn-sm" href="#" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward points to spend"><i class="fa fa-award text-md"></i>&nbsp;290 points</a></div>
                        <div class="author-card-profile">
                            <div class="author-card-avatar"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Daniel Adams">
                            </div>
                            <div class="author-card-details">
                                <h5 class="author-card-name text-lg"><span th:text="${fullName}"></span></h5><span class="author-card-position">Joined February 06, 2017</span>
                            </div>
                        </div>
                    </div>
                    <div class="wizard">
                        <nav class="list-group list-group-flush">
                            <a class="list-group-item" href="/portal/ticket/viewTickets">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><i class="fa fa-tag mr-1 text-muted"></i>
                                        <div class="d-inline-block font-weight-medium text-uppercase">Mijn tickets</div>
                                    </div><span class="badge badge-secondary">4</span>
                                </div>
                            </a>
                            <a class="list-group-item active" href="#">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><i class="fa fa-shopping-bag mr-1 text-muted"></i>
                                        <div class="d-inline-block font-weight-medium text-uppercase">Profiel instellingen</div>
                                    </div><span class="badge badge-secondary">6</span>
                                </div>
                            </a>
                        </nav>
                    </div>
                </div>
                <div class="pit-side-menu">
                    <span class="side-header-title">Meldingen</span>
                    <div class="pit-side-menu-container">
                        <table id="notificationTable">
                            <tr>
                                <td>Gepland server onderhoud 10-11-2022 na 18:00, mogelijk traagheid.</td>
                            </tr>
                            <tr class="table-secondary">
                                <td>Binnenkort Bingoavond met de doorgewinterde bingoleider Bart!</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="pit-side-menu">
                    <span class="side-header-title">Snelle Links</span>
                    <div class="pit-side-menu-container">
                        <div class="pit-side-menu-item"><a class="btn btn-outline-primary" href="/portal/create-ticket">Nieuwe ticket maken</a></div>
                        <div class="pit-side-menu-item"><a class="btn btn-outline-primary" href="/portal/create-ticket">Bekijk openstaande tickets</a></div>
                        <div class="pit-side-menu-item"><a class="btn btn-outline-primary" href="/portal/create-ticket">Bekijk alle tickets</a></div>
                        <div class="pit-side-menu-item"><a class="btn btn-outline-primary" href="/portal/create-ticketByHelpDesk">Maak ticket aan voor klant</a></div>
                        <div class="pit-side-menu-item"> <a class="btn btn-outline-primary" id="btnLogout">Uitloggen</a></div>
                    </div>
                </div>

            </div>

    </div>
</div>
<div th:replace="portal/fragments/general.html :: footer"></div>
</main>

<div th:replace="portal/fragments/general.html :: footerfiles"></div>
</body>
</html>